<div class="container">
        
      <div class="row">
            <div class="center">
        <div class="col-md-4 form inline">
            <div class="login-header">
                <h4>Already a member?</h4>
                    </div>
            <div class="form-inner">
            <h4>Log-in here!</h4>
        <form action="/login" method="post">
                

                <input name="email" id="email" placeholder="Email Address">

                <input name="password" id="password" placeholder="Password">
            
                <input type="submit" value="Log-in >" name="login" class="button">

        </form>
            </div>
        </div>
            
     
        <div class="col-md-4 form inline">
            <div class="signup-header">
                <h4>Newbie?</h4>
            </div>
            <div class="form-inner">
            <h4>Sign-up here!</h4>
        <form action="/signup" method="post">
            
        
                <input name="fname" id="fname" placeholder="First Name">
    
                <input name="lname" id="lname" placeholder="Last Name">
  
                <input name="email" id="email" placeholder="Email Address">
  
                <input name="password" id="password" placeholder="Password">
            
                <input type="submit" value="Sign-up >" name="signup" class="button">

        </form>
        </div>
                </div>
                </div>
                
        </div>
            
    </div>